.nav-pad{


padding:5%;
 


}
.white-bg{

    background-color:white;
    border: none;
}
.buy-now-button{

background-color: black;
color: white;
border-radius: 10px;
width:120px;
height: 60px;

}

.bg1 img{

    width:50%;
}
.yellow-color{

    color:rgb(220, 194, 3);
}
.card{

    border:none;
    box-shadow: 3px 3px 15px rgb(175, 171, 171);
    border-radius: 10px;
}
.container{

    padding-top: 20px;
    
}
.extra-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bcontainer{

    margin-bottom: 100px;
}
.GRAY{
color: gray;

}
 .imgshadow{
    border:none;
    box-shadow: 1px 1px 5px rgb(175, 171, 171);
    border-radius: 10px;
   padding:20px;
   margin: 15px;

}
#last-image{

    width:80%
}
footer p{

    text-align: center;
    color: gray;
    margin: 0;
    padding: 0;
    
}
.bg-2 img{
 
    width:10%;
}
.underline{
 background-image: linear-gradient(90deg,rgb(240, 240, 10),rgb(228, 149, 3));

border-radius:20%;
 width: 80px;
 height: 10px;



}
 
